* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    padding-bottom: 0;
    align-items: center;
}

.hero {
    display: flex;
    padding: 150px 200px;
    gap: 50px;
}

.header li a{
   color: #e5e7eb;
   font-weight: 300;
   font-size: 18px;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 25px;
    border-radius: 8px;
    background-color: #3882f6;
    border: none;
    margin-top: 10px;
}

.box {
    height: 130px;
    width: 130px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main {
    padding: 0 200px;
    text-align: center;
    background-color: #f9faf8;
    padding-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    gap: 10px;
}

.main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 50px 0px;
}

.quote {
    padding: 100px 250px;
    background-color: #e5e7eb;
}

.quote h1 {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    font-style: italic;
}

.quote h3 {
    text-align: right;
    font-size: 25px;
}

.cta {
    background-color: #f9faf8;
    padding: 100px 200px;
}

.cta-inner {
    display: flex;
    background-color: #3882f6;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    border-radius: 8px;
}

.cta button {
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 25px;
    border-radius: 8px;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
}

.cta h3 {
    color: #f9faf8;
    font-size: 23px;
}

.cta p {
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 30px 200px;
    color: #f9faf8;
}